<link rel="stylesheet" type="text/css" href="/css/subNav.css" />
<nav class="subNavBar">
    <ul>
        <li class="subNavItem">
            <a href="/stock/addpart">AddPart</a>
        </li>
        <li class="subNavItem">
            <a href="/stock/view">View</a>
        </li>
    </ul>
</nav>