<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Index page" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <script src="/js/index.js"></script>
    </head>
    <body>
        <div class="background-image-wrapper"></div>
        <header>
            <img class="header-image" src="/image/header-background-image.png">
            <a href="/">
                <img class="header-logo" src="/image/AndreasPeterssonLogo.png" alt="HeaderLogo">
            </a>
            <div class="header-text-wrapper">
                <h1 class="header-main-text">Mobile Doctors</h1>
                <h2 class="header-sub-text">order server</h2>
            </div>

        </header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </nav>
        <main>
            {{{body}}}
        </main>
        <footer>
            <p class="footer-text">
                © 2020-2020 Andreas Petersson. All rights reserved. | ap223ga@student.lnu.se
            </p>
        </footer>
    </body>
</html>
