{{> stockNav}}
<link rel="stylesheet" type="text/css" href="/css/stock.css" />
<div class="innerWindow">
    <h1>Add Location</h1>
    <hr>
    <div class="formWrapper">
        <form method="post">
            <label>Location ID</label>
            <input type="text" name="locationID" value="" required>

            <label>Component</label>
            <select name="partNumber" id="partNumber">
                {{#each components}}
                    <option value="{{this.number}}">{{this.number}}</option>
                {{/each}}
            </select>

            <label>Quantity</label>
            <input type="number" name="partQuantity" value="" min=0>

            <input type="submit" class="button-with-margin" name="submit" value="Add Location">
        </form>
    </div>
</div>