{{> stockNav}}
<link rel="stylesheet" type="text/css" href="/css/stock.css" />
<script src="/js/addPart.js"></script>
<div class="innerWindow">
    <h1>Add Part</h1>
    <div class="formWrapper">
        <form method="post">
            <label>Part Name</label>
            <input type="text" name="partName" value="" required>

            <label>Part Number</label>
            <input type="text" name="partNumber" value="" required>

            <label>Price</label>
            <input type="number" name="partPrice" value="" step=0.01 min=0 required>

            <input type="submit" name="submit" value="Add Part">
        </form>
    </div>
</div>
