{{> modelNav}}
<link rel="stylesheet" type="text/css" href="/css/stock.css" />
<script src="/js/addModel.js"></script>
<div class="innerWindow">
    <h1>Create Model</h1>
    <div class="formWrapper">
        <form method="post">
            <label>Model Name</label>
            <input type="text" name="modelName" value="" required>

            <label>Model Number</label>
            <input type="text" name="modelNumber" value="" required>

            <label>Size</label>
            <input type="number" name="modelSize" value="" required>

            <label>Parts</label>
            <select name="modelComponent" id="modelComponent">
                {{#each data}}
                <option value="{{this.number}}">{{this.name}}</option>
                {{/each}}
            </select>
            <button id="addComponentButton">Add Component</button>

            <input type="hidden" name="componentList" id="componentList" value="|">
            <input type="submit" name="submit" value="Add Model">
            
        </form>
    </div>
</div>
<script>setupComponentButton()</script>