<div class="innerWindow">
    <h1>Mobile Doctors - Index Page</h1>
    <p>
        Welcome to the Mobile Doctors order server. 
    </p>
    <p>
        This web interface provides functionality for:
    </p>
    <ul>
        <li>
            Managing a stock.
        </li>
        <li>
            Creating models.
        </li>
        <li>
            Creating orders
        </li>
    </ul>
    <p>
        This web interface aims to provide a userfriendly interface towards the server and SQL-database.
    </p>
</div>