
label {
    display: block;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    outline: none;
    text-align: center;
    width: 200px;
}

select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    outline: none;
    text-align: center;
    width: 205px;
    height: 20px;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: var(--clr-accent);
    outline: none;
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--clr-text);
}

.formWrapper {
    text-align: center;
    overflow: auto;
    max-height: 500px;
}

table {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    color: var(--clr-accent);
    padding-left: 5px;
    padding-right: 30px;
    text-align: left;
}

.part-container {
    border: 1px solid black;
}

td input {
    margin: auto;
}

.innerWindow {
    text-align: center;
    overflow: auto;
}

input[type="textarea"] {
    width: 300px;
    height: 200px;
}

.sum-label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.return-component-button {
    width: auto;
}

.button-with-margin {
    margin-top: 20px;
    margin-bottom: 10px;
}
